@model ThriftBook_phase2.ViewModels.BookVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Add new book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookQuality" class="control-label"></label>
                <input asp-for="BookQuality" class="form-control" />
                <span asp-validation-for="BookQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookQuantity" class="control-label"></label>
                <input asp-for="BookQuantity" class="form-control" />
                <span asp-validation-for="BookQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPhoto" class="control-label"></label>
                <input asp-for="BookPhoto" class="form-control" />
                <span asp-validation-for="BookPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


    <a asp-action="Index" class="add-to-cartbtn btn btn-outline-dark">Back to List</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
