@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p> Your email is confirmed now. You can login our app now. </p>
<p> Please click the login link in the upper right corner. </p>