@model ThriftBook_phase2.Models.BookRating

@{
    ViewData["Title"] = "Create";

}


<h4>Rate the Book</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="BookId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="BuyerId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">How did you like this book?</label>
                <select class="form-control" id="Rating" name="Rating">
                    <option value="">Select Rating</option>
                    <option value="1">1 </option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comments, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Comments, 10, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;" })
                @Html.ValidationMessageFor(model => model.Comments)
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Order</a>
</div>
<br />

@Html.ActionLink("Continue Shopping", "Index", "Home")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
