
@{
    ViewData["Title"] = "ThankRating";
}

<h1>Thank You</h1>
<p>@ViewBag.Message</p>

<div class="add-to-cartbtn" style="width:170px;">
    @Html.ActionLink("Back to Order", "Index", "OrdersHistory")
</div>
<div class="add-to-cartbtn" style="width:170px;">
    @Html.ActionLink("Continue Shopping", "Index", "Home")
</div>

