
@{
    ViewData["Title"] = "ThankRating";
}

<h1>Thank You</h1>
<p>@ViewBag.Message</p>

<br />
@Html.ActionLink("Back to Order", "Index", "OrdersHistory")
<br />
@Html.ActionLink("Continue Shopping", "Index", "Home")

