
@{
    ViewData["Title"] = "ThankRating";
}

<h1>Thank You</h1>
<p>@ViewBag.Message</p>

    @Html.ActionLink("Back to Order", "Index", "OrdersHistory", new { @class = "add-to-cartbtn btn btn-outline-dark" })
    @Html.ActionLink("Continue Shopping", "Index", "Home", new { @class = "add-to-cartbtn btn btn-outline-dark" })


